.bg-yellow {
  background-color: yellow;
}
/* .transition {
  transition: background 0.25s ease, color 0.25s ease;
} */

.active-slide {
  background-color: green;
  color: #fff;
}
.bg-blue {
  background-color: blue;
  color: #fff;
}
.product-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the card takes the full height of its container */
}

.mat-card-content {
  flex: 1; /* Allow the content to take up remaining space */
}

img {
  max-width: 100%; /* Make sure images don't exceed the container width */
  max-height: 100%; /* Make sure images don't exceed the container height */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
}
/* Apply styles to the swiper container */
swiper {
  width: 100%; /* Set width as needed */
  height: 400px; /* Set height as needed */
}

/* Style the images within swiper slides */
swiper img {
  width: 100%; /* Make the images fill the entire width of the swiper slide */
  height: 100%; /* Make the images fill the entire height of the swiper slide */
  object-fit: cover; /* Maintain aspect ratio and cover the entire slide */
}
